<div class="center jumbotron">
<h1>Hey Y'alls,</h1>
  <h2>Here is our extensive Product listing:</h2>
</div>

<div class="container">
  
  <% @products.each do |product| %>
  <a href="/products/<%= product.id %>">Product: <%= product.name %></a>
  <p>Price: <%= product.price %></p>
  <p>Product Description: <%= product.description %></p>

  <% end %>
</div>
