<div class="center jumbotron">
<h1>Hey Y'alls,</h1>
  <h2>Here is our extensive Product listing:</h2>
</div>

<div class="container">
  
  <% @products.each do |product| %>
  <p><%= product.name %></p>
  <p><%= product.price %></p>
 
  <p><%= product.description %></p>

  <% end %>
</div>
